html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position:relative;
  top: 5%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  top: 5%;

  background-color: #1c1c1c;
}



